* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #1e1e2f, #3a3a6a);
  color: white;
  height: 100vh;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 25px;
  background: #00ffcc;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.outline {
  background: transparent;
  border: 2px solid #00ffcc;
  color: #00ffcc;
}

footer {
  text-align: center;
  opacity: 0.6;
}
.login-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.login-box input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}

.login-box button {
  cursor: pointer;
}
